:root {
  --book-cover-width: 190px;
  --book-cover-width-large: 310px;
  --book-cover-aspect-ratio: 0.68;
}

.book-cover {
  width: var(--book-cover-width);
  height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.book-cover-large {
  --book-cover-width: var(--book-cover-width-large);
}

.book-grid {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--book-cover-width), 1fr));
}

.book-grid-large {
  grid-template-columns: repeat(auto-fill, minmax(var(--book-cover-width-large), 1fr));
}

.book-details {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.book-details-label {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-text-light);
}

.book-details-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
  align-items: center;
}

.book-details-btn-grid {
  display: grid;
  grid-template-areas:
    "edit delete"
    "author author";
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.book-details-author-button {
  grid-area: author;
  width: 100%;
}

