:root {
  --form-label-font-size: 1.1rem;
  --form-input-background-color: hsl(var(--color-base-hue), 60%, 20%);
  --form-input-border-color: hsl(var(--color-base-hue), 60%, 45%);
  --form-input-border-color-light: hsl(var(--color-base-hue), 60%, 60%);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-item {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
}

.form-item > label {
  font-size: var(--form-label-font-size);
  margin-bottom: 0.5rem;
  color: var(--color-text-light);
}

.form-item input,
.form-item select,
.form-item textarea {
  height: 2.25rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--form-input-border-color);
  background-color: var(--form-input-background-color);
  color: var(--color-text-light);
  font-size: 1rem;
  font-family: 'Gotham Rounded';
}

.form-item textarea {
  resize: vertical;
  min-height: 5rem;
}

.form-item input:focus,
.form-item select:focus,
.form-item textarea:focus {
  border-color: var(--form-input-border-color-light);
  outline: none;
}